/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.idea/workspace.xml
.idea/HRAPP.iml
*.iml
*.iml
.idea/HRAPP.iml
.idea/php.xml
vendor/composer/InstalledVersions.php
vendor/composer/installed.php
vendor/composer/autoload_classmap.php
*.xml
.idea/workspace.xml
